.loginPage{
    width: 100%;
    height: 100%;
    background: #d2d6de;
}
.loginMain{
    width: 360px;
    margin: 0px auto;
    .loginTitle{
        padding:30px 0;
        font-size: 35px;
        color: #444;
        font-weight: bold;
        text-align: center;
    }
    .loginBox{
        width: 100%;
        padding: 20px;
        background: #FFF;
    }
}