* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#root{
    width: 100%;
    height: 100%;
}
.textCenter{
    text-align: center;
}
.pt15{
    padding-top: 15px;
}
.pt5{
    padding-top: 5px;
}
.linkSpan{
    color: #3c8dbc;
    cursor: pointer;
}

